body {
  background-color: #18181b;
}

.bgimage {
  background-image: url("/img/opaklogo.png");
  background-size: contain;
  background-repeat: repeat;
}

.fonts{
  font-family: 'Poppins', sans-serif;
}